<template lang="pug">
  .card
    .card-header {{model.title}} - {{model.title_japanese}}
    .card-body
      .d-flex.align-items-center
        .card-img-right
          img(:src="model.images && model.images.jpg.image_url || ''" :alt="model.images && model.images.jpg.image_url || ''")
        .ml-4
          p.text-muted {{model.type}}
          p.text-muted {{model.status}}
          p.text-muted {{model.duration}}
          p.text-muted {{model.rating}}
          p.text-muted {{model.season}}
          div
            p.text-muted.d-inline-block.mx-2(v-for="genre in model.genres", :key="genre.name") {{genre.name}}
</template>

<script>
import Anime from '~/plugins/api/models/anime/Anime'

export default {
  name: 'AnimeView',
  props: {
    model: {
      type: Anime,
      default () {
        return new Anime()
      }
    }
  }
}
</script>

<style scoped>

</style>
