<template lang="pug">
  div
    h2 {{category.title}}
    ul(v-if="category.children.length")
      li(v-for="item in category.children", :key="`category-${item.id}`")
        nuxt-link(:to="`/categories/${item.id}`") {{item.title}}
    h4(v-if="category.items.length") Items of category
    .row
      .col-4.mb-4(v-for="item in category.items", :key="`item-${item.id}`")
        item-view(:item="item")
</template>

<script>
import Category from '~/plugins/api/models/Category'
import ItemView from '~/components/Item/ItemView'
//
// const category =
//   {
//     id: 2,
//     title: 'Котики',
//     children: [
//       {
//         id: 4,
//         title: 'Мейн куны'
//       },
//       {
//         id: 5,
//         title: 'Ориенталы'
//       }
//     ],
//     items: [
//       {
//         id: 100,
//         title: 'Милый котик',
//         price: 4936.0
//       },
//       {
//         id: 110,
//         title: 'Пушистый котик',
//         price: 4936.0
//       },
//       {
//         id: 120,
//         title: 'Хороший котик',
//         price: 4936.0
//       },
//       {
//         id: 130,
//         title: 'Уставший котик',
//         price: 4936.0
//       },
//       {
//         id: 140,
//         title: 'Красивый котик',
//         price: 4936.0
//       }
//     ]
//   }

export default {
  name: 'CategoryView',
  components: { ItemView },
  props: {
    id: {
      type: String,
      default () {
        return null
      }
    }
  },
  data () {
    return {
      category: new Category()
    }
  },
  async created () {
    this.category = new Category(await this.$api.readCategory(this.id))
  }
}
</script>
