<template lang="pug">
  div
    b-form
      b-form-group(id="input-group-title", label="Title", label-for="input-title")
        b-form-input(id="input-title", v-model="model.title", placeholder="Enter title", required)
      b-button(variant="primary", @click="save()") Save
      b-button(variant="danger", @click="cancel") Cancel
</template>

<script>
import Category from '~/plugins/api/models/Category'
import { formCreateEditMixin } from '~/components/mixins'

export default {
  name: 'CategoryForm',
  mixins: [formCreateEditMixin(Category)],
  methods: {
    loadModel (id) {
      return this.$api.readCategory(id)
    },
    create (model) {
      return this.$api.createCategory(model)
    },
    update (id, model) {
      return this.$api.updateCategory(id, model)
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
