<template lang="pug">
  .container.py-5
    category-view(:id="$route.params.id")
</template>

<script>
import CategoryView from '~/components/Category/CategoryView'
export default {
  name: 'CategoryViewPage',
  components: { CategoryView },
  created () {
    if (!this.$store.getters.isAuthorized) {
      this.$router.push('/auth/login')
    }
  }
}
</script>
