<template lang="pug">
  .container
    h2.my-5 Login
    .row
      .col-lg-7
        b-alert(v-model="error.show", variant="danger", dismissible) {{error.message}}
        b-form
          b-form-group(id="input-group-login", label="Login", label-for="input-login")
            b-form-input(id="input-login", v-model="model.name", placeholder="Enter login", required)
          b-form-group(id="input-group-password", label="Password", label-for="input-password")
            b-form-input(id="input-password", type="password", v-model="model.password", placeholder="Enter password", required)

          .mb-3
            span Not registered?&nbsp
            nuxt-link(:to="'/auth/signup'") Create an account

          b-button(variant="primary", @click="login()") Login
</template>

<script>
import Login from '~/plugins/api/models/Login'

export default {
  name: 'Login',
  layout: 'auth',
  data () {
    return {
      model: new Login(),
      error: { show: false, message: '' }
    }
  },
  created () {
    if (this.$store.getters.isAuthorized) {
      this.$router.push('/')
    }
  },
  methods: {
    async login () {
      if (this.model.name && this.model.password) {
        this.setError(false, '')
        try {
          await this.$store.dispatch('login', this.model)
          await this.$router.push('/')
        } catch (e) {
          this.setError(true, 'Login or password is incorrect')
        }
      } else {
        this.setError(true, 'Login or password is empty')
      }
    },
    setError (show = false, message = '') {
      this.error.show = show
      this.error.message = message
    }
  }
}
</script>
