<template lang="pug">
  div
    b-card(:title="item.title", :img-src="item.picture || ''", :img-alt="item.title", img-top, img-height="315px", img-width="210px")
      template(#footer)
        .w-100.d-flex.justify-content-between.align-items-center
          small.text-muted Price {{item.price}}$
          b-button(variant="primary", size="sm", v-b-modal="`ItemQuantity-${item.id}`") Add to cart

    b-modal(:id="`ItemQuantity-${item.id}`", :title="`Enter quantity for «${item.title}»`", hide-footer)
      b-form-input.mb-3(type="number", v-model="cartQuantity", min="1", step="1")
      b-button(variant="primary", @click="addToCart()") OK
</template>

<script>
import Item from '~/plugins/api/models/Item'

export default {
  name: 'ItemView',
  props: {
    item: {
      type: Item,
      default () {
        return new Item()
      }
    }
  },
  data () {
    return {
      cartQuantity: 1
    }
  },
  methods: {
    async addToCart () {
      await this.$api.addItemToCart(this.item.id, Number.parseInt(this.cartQuantity))
      this.$bvModal.hide(`ItemQuantity-${this.item.id}`)
    }
  }
}
</script>

<style lang="stylus" scoped>
.card-img-top
  object-fit contain
</style>
