<template lang="pug">
  .content-holder
    .content-header
      b-navbar(variant="dark", type="dark")
        b-navbar-nav
          nuxt-link.navbar-brand(:to="'/'") Catalog
        b-navbar-nav.ml-auto.align-items-center
          b-nav-item.mr-3(rigth)
            nuxt-link(:to="'/orders'")
              img(src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/48/Order-history-icon.png", alt="calendar", width="38px")
            nuxt-link(:to="'/cart'")
              img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Shopping_Cart_Flat_Icon_Vector.svg/64px-Shopping_Cart_Flat_Icon_Vector.svg.png", alt="cart")
          b-nav-item(right)
            b-button(variant="outline-dark", @click="logout()") Logout
    main.content-page
      nuxt
</template>

<script>
export default {
  name: 'DefaultLayout',
  methods: {
    logout () {
      this.$store.dispatch('logout')
      this.$router.push('/auth/login')
    }
  }
}
</script>

<style lang="stylus">
.navbar-dark .navbar-brand
  font-size 32px
  font-weight 600

.btn.btn-outline-dark
  background-color white
  &:hover
    color #343a40
</style>
