<template lang="pug">
  .container.py-5
    h2.mb-2 Cart items
    .mb-4.d-flex.justify-content-between.align-items-center
      h5 Total price: {{cartItems.totalPrice}}
      b-button(variant="primary", @click="order()") Order
    b-table(:items="cartItems.items", :fields="cartItemsFields")
      template(#cell(quantity)="data")
        b-button.quantity-btn(variant="outline-primary", size="sm", @click="decrementItemQuantity(data.item)") -
        span.mx-3 {{data.item.quantity}}
        b-button.quantity-btn(variant="outline-primary", size="sm", @click="incrementItemQuantity(data.item)") +
      template(#cell(actions)="data")
        b-button(variant="outline-danger", size="sm", @click.prevent="deleteItemFromCart(data.item.id)") Delete
</template>

<script>

// import CartItems from '~/plugins/api/models/CartItems'
//
// const cartItems = {
//   totalPrice: 3400,
//   items: [
//     {
//       id: 0,
//       title: 'Cake',
//       price: 400,
//       quantity: 1
//     },
//     {
//       id: 1,
//       title: 'Lollipop',
//       price: 600,
//       quantity: 2
//     },
//     {
//       id: 2,
//       title: 'Marshmallow',
//       price: 1200,
//       quantity: 1
//     },
//     {
//       id: 3,
//       title: 'Pie',
//       price: 300,
//       quantity: 4
//     },
//     {
//       id: 4,
//       title: 'Cookies',
//       price: 100,
//       quantity: 3
//     }
//   ]
// }
const cartItemsFields = [
  {
    key: 'title',
    sortable: true,
    label: 'Product name'
  },
  {
    key: 'price',
    sortable: true,
    label: 'Price'
  },
  {
    key: 'quantity',
    sortable: false,
    label: 'Quantity'
  },
  {
    key: 'actions'
  }
]

export default {
  name: 'Cart',
  data () {
    return {
      cartItems: [],
      cartItemsFields: Object.freeze(cartItemsFields)
    }
  },
  async created () {
    if (!this.$store.getters.isAuthorized) {
      this.$router.push('/auth/login')
    } else {
      await this.loadCartItems()
    }
  },
  methods: {
    async loadCartItems () {
      this.cartItems = await this.$api.cartItems()
    },
    async deleteItemFromCart (id) {
      await this.$api.deleteItemFromCart(id)
      await this.loadCartItems()
    },
    async incrementItemQuantity (item) {
      item.quantity++
      await this.changeItemQuantity(item)
      await this.loadCartItems()
    },
    async decrementItemQuantity (item) {
      const quantity = item.quantity
      if ((quantity - 1) < 0) {
        return
      }
      item.quantity--
      await this.changeItemQuantity(item)
      await this.loadCartItems()
    },
    async changeItemQuantity (item) {
      await this.$api.addItemToCart(item.id, item.quantity)
    },
    async order () {
      await this.$api.createOrder()
      await this.loadCartItems()
    }
  }
}
</script>

<style lang="stylus">
.quantity-btn
  width 24px
  height 24px
  padding 0
  border-radius 8px
  font-size 18px
  font-weight 600
  line-height normal
</style>
