<template lang="pug">
  div
    .container.py-5
      h2 Categories of catalog
      ul(v-if="category.children.length")
        li(v-for="item in category.children", :key="`category-${item.id}`")
          nuxt-link(:to="`/categories/${item.id}`") {{item.title}}
      h4.mb-3(v-if="category.items.length") Items without category
      .row
        .col-4.mb-4(v-for="item in category.items", :key="`item-${item.id}`")
          item-view(:item="item")
</template>

<script>
import CategoryView from '~/components/Category/CategoryView'
import Category from '~/plugins/api/models/Category'

// const category =
//   {
//     id: -1,
//     title: '',
//     children: [
//       {
//         id: 2,
//         title: 'Котики'
//       },
//       {
//         id: 3,
//         title: 'Зайчики'
//       }
//     ],
//     items: [
//       {
//         id: 100,
//         title: 'Бытовой пылесос Samsung VCC4520S36, синий',
//         price: 4936.0,
//         picture: 'https://cdn1.ozone.ru/s3/multimedia-k/wc1200/6022334384.jpg'
//       },
//       {
//         id: 110,
//         title: 'Бытовой пылесос Samsung VCC4520S36, синий',
//         price: 4936.0,
//         picture: 'https://cdn1.ozone.ru/s3/multimedia-k/wc1200/6022334384.jpg'
//       },
//       {
//         id: 120,
//         title: 'Бытовой пылесос Samsung VCC4520S36, синий',
//         price: 4936.0,
//         picture: 'https://cdn1.ozone.ru/s3/multimedia-k/wc1200/6022334384.jpg'
//       },
//       {
//         id: 130,
//         title: 'Бытовой пылесос Samsung VCC4520S36, синий',
//         price: 4936.0,
//         picture: 'https://cdn1.ozone.ru/s3/multimedia-k/wc1200/6022334384.jpg'
//       },
//       {
//         id: 140,
//         title: 'Бытовой пылесос Samsung VCC4520S36, синий',
//         price: 4936.0,
//         picture: 'https://cdn1.ozone.ru/s3/multimedia-k/wc1200/6022334384.jpg'
//       },
//       {
//         id: 150,
//         title: 'Бытовой пылесос Samsung VCC4520S36, синий',
//         price: 4936.0,
//         picture: 'https://cdn1.ozone.ru/s3/multimedia-k/wc1200/6022334384.jpg'
//       }
//     ]
//   }

export default {
  name: 'IndexPage',
  components: { CategoryView },
  layout: 'default',
  data () {
    return {
      category: new Category()
    }
  },
  async created () {
    if (!this.$store.getters.isAuthorized) {
      this.$router.push('/auth/login')
    } else {
      this.category = new Category(await this.$api.readCategory())
    }
    // this.category = new Category(category)
  }
}
</script>
